* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* perspective:  800px; */
}

#nav {
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    padding: 0 120px;
    z-index: 999;
    flex-wrap: wrap;
}

#cursor {
    background-color: #95c11E;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    background-color: #96c11e63;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    filter: blur(80px);
}

#navimg {
    height: 75px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

#nav h4:hover {
    color: #000;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    transition: all ease 0.5;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 10;
}
#arrow{
    height: 220px;
    width: 220px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #95c11E;
    position: absolute;
    left: -2%;
    bottom: 0;
    transition: all ease 0.5s;
}
#arrow i{
    font-size: 50px;
    font-weight: 100;
}
#arrow:hover{
    scale: 0.4;
    background-color: #95c11E;
}

#page1 h1 {
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "Eat. Drink. Play.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #95c11E;
}

#page1 h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0;
}

#page1 p {
    font-size: 17px;
    font-weight: 500;
    width: 40%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    /* background-color: red ; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    scrollbar-width: none;
}

#scroller1 {
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 140px;
    font-family: gilroy;
    margin-right: 10px;
    font-weight: 900;
    -webkit-text-stroke: 2px #ffffffb7;
    color: transparent;
    text-transform: uppercase;
    color: #000000d1;
}

#scroller h4:hover {
    color: #95c11E;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#about {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    /* gap: 40px; */
    margin: 60px 0;
    position: relative;
    z-index: 10;
}

#about img {
    /* height: 100%; */
    /* width: 100%; */
    object-fit: cover;
    border-radius: 20px;
}

#about-us {
    width: 50%;
    text-align: center;
}

#about-us h3 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
}

#about-us p {
    line-height: 25px;
    font-size: x-large;

}

#p1 {
    margin-bottom: 20px;
}

.card-container {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    z-index: 10;
}

.cards {
    height: 80%;
    transition: all ease 0.6s;
    width: 24%;
    /* flex: 1 1 100%; */
    /* max-width: 100%; */
    /* box-sizing: border-box; */
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: auto;
    z-index: 10;
}

#card1 {
    background-image: url(./Assests/card1.avif);
}

#card2 {
    background-image: url(./Assests/card2.webp);
}

#card3 {
    background-image: url(./Assests/card3.avif);
}

.overlay {
    background-color: #95c11E;
    height: 100%;
    width: 100%;
    padding: 30px;
    opacity: 0;
    z-index: 10;
    border-radius: 5%;
    transition: all ease 0.6s;
}

.overlay h4 {
    padding-top: 20px;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 900;
    margin-bottom: 25px;
    color: #000;
}

.overlay p {
    line-height: 31px;
    font-size: 1.4em;
    color: #000;
}

.cards:hover .overlay {
    opacity: 1;
}
.cards:hover{
      transform: rotate3d(-1, 1, 0, 20deg);
}
#green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: space-between;
    /* background-color: red; */
    position: relative;
    z-index: 10;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#green-div img {
    height: 100%;
}

#green-div h4 {
    color: #000;
    font-size: 40px;
    font-weight: 800;
    width: 50%;
    z-index: 10;
}

#page3 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p {
    z-index: 10;
    width: 55%;
    font-size: 2rem;
    font-weight: 800;
}

#page3 img {
    position: absolute;
    height: 50px;
}

#img1 {
    top: 25%;
    left: 15%;
}

#img2 {
    bottom: 25%;
    right: 15%;
}

#page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: relative;
    z-index: 10;
}

.elem {
    height: 70%;
    width: 27%;
    overflow: hidden;
    border-radius: 20px;
    z-index: 10;
}

.elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
    color: #000;

}

#page4 h1 {
    font-size: 81px;
    font-weight: 800;
    position: absolute;
    top: -13%;
    -webkit-text-stroke: 2px #fff;
    color: #000;
    white-space: nowrap;
}

#footer {
    height: 47vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    gap: 140px ;
    padding-left: 140px;
    margin-top: 60px;
    position: relative;
    z-index: 10;
}
#footer p{
    color: #000;
}
#footer h3{
    font-weight: 900;
    color: #000;
}
#f1 img {
    height: 100px;
    position: absolute;
    top: 30%;
}
#f2{
    padding-left: 80px;
    font-size: 1.55rem;
    line-height: 50px;
}
#f3{
    font-size: 1.55rem;
    line-height: 50px;
}
#f4{
    font-size:15px ;
    font-weight: 600;
}
